{{- $security := dict "title" "Security" "match" "one-of-these" "labels" (list "Type: Security" "security") }}
{{- $added := dict "title" "Added" "match" "one-of-these" "labels" (list "Type: Feature" "feature") }}
{{- $fixed := dict "title" "Fixed" "match" "one-of-these" "labels" (list "Type: Bug" "bug") }}
{{- $deprecated := dict "title" "Deprecated" "match" "one-of-these" "labels" (list "Type: Deprecated" "deprecated") }}
{{- $removed := dict "title" "Removed" "match" "one-of-these" "labels" (list "Type: Removed" "removed") }}
{{- $tmpgroups := list $added $fixed $security $deprecated $removed }}
{{- $alllabels := list "" }}{{ range $group := $tmpgroups }}{{ $alllabels = concat $alllabels $group.labels }}{{ end }}
{{- $changed := dict "title" "Changed" "match" "none-of-these" "labels" $alllabels }}
{{- $groups := list $security $added $fixed $deprecated $removed $changed }}
{{- $reversedSections := .ReversedSections }}
{{- $repoOwner := .RepoOwner }}
{{- $repoName := .RepoName }}
{{- range $i, $section := $reversedSections }}
	{{- if $section.Tag }}
## Version {{ $section.Tag.Semver }} (released on {{ $section.Tag.Time.Format "2006-01-02" }})
	{{- else }}
## Future version **(not released)**
	{{- end }}
	{{- if lt $i (sub (len $reversedSections) 1) }}
		{{- if $section.Tag }}
			{{- $previousSection := index $reversedSections (add $i 1) }}

[Full Changelog](https://github.com/{{ $repoOwner }}/{{ $repoName }}/compare/{{ $section.Tag.Name }}...{{ $previousSection.Tag.Name }})
		{{- end }}
	{{- end }}
	{{- range $group := $groups }}
		{{- $prs := list }}
		{{- if eq $group.match "one-of-these" }}
			{{- $prs = $section.GetPrsWithOneOfTheseLabels $group.labels }}
		{{- else if eq $group.match "none-of-these" }}
			{{- $prs = $section.GetPrsWithNoneOfTheseLabels $group.labels }}
		{{- end }}
		{{- if $prs }}

**{{ $group.title }}**
			{{- range $pr := $prs }}
- {{ $pr.Title }} [\#{{ $pr.Number }}]({{ $pr.Url }}) ([{{ $pr.AuthorLogin }}]({{ $pr.AuthorUrl }}))
			{{- end }}
		{{- end }}
	{{- end }}
{{ end -}}
